body {
  font-family: "Bree Serif", serif;
  margin: 0px;
  padding: 0px;
}
.navbar-section {
  overflow: hidden;
  background-color: #0a0d16;
}
.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px;

  margin-right: 20px;
}
.navbar a:hover {
  background-color: #ddd;
  color: #1864b1;
}

.intro-section {
  padding: 20px;
  height: 500px;
}
#food {
  color: #1864b1;
}
#network {
  color: #576879;
}
.text-area {
  width: 46%;
  float: left;

  margin-left: 28px;
}
.text-area img {
  width: 84%;
  margin-left: 15%;
}
.text-area p {
  font-size: 50px;
  margin-top: 181px;
  margin-left: 42px;
}
.btn {
  margin-left: 42px;
  margin-bottom: 22px;
  border-radius: 25px;
  font-size: 14px;
  padding: 12px 25px;
  background-image: linear-gradient(
    45deg,
    rgba(47, 181, 193),
    rgba(48, 40, 117)
  );
  border: none;
  font-weight: bold;
  color: gainsboro;
  text-decoration: none;
}
.about-section {
  padding: 20px;
  height: 500px;
  margin-top: 30px;
  background-image: url(images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-area img {
  width: 100%;
  height: 461px;
  margin-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
}
.about-area {
  width: 43%;
  float: left;

  margin-left: 39px;
  margin-top: 16px;
}
#about-us {
  color: #001f3f;
  font-size: 30px;
  text-align: center;
}
.about-area p {
  font-size: 18px;
  margin-bottom: 53px;
  padding-left: 41px;
}
.about-area h3 {
  font-size: 30px;
  font-weight: 800;
}
.recipies-section {
  padding: 20px;
  height: 500px;
  margin-top: 30px;
}
#recipies {
  color: #001f3f;
  font-size: 30px;
  text-align: center;
}
.recipies-section p {
  text-align: center;
}
.recipies-area {
  width: 20%;
  float: left;
  box-shadow: 0px 0px 12px 10px #b6eeff;
  border-radius: 20px;
  margin: 13px 82px 0px 82px;
  margin-top: 16px;
}
.recipies-name {
  text-align: center;
}
#food1 {
  width: 225px;
  padding: 17px;
}
#food2 {
  width: 225px;
  padding: 17px;
}
#food3 {
  width: 225px;
  padding: 17px;
}
.footer-section {
  padding: 20px;
  height: 150px;
  margin-top: 100px;
  background-color: #0a0d16;
  text-align: centers;
}
.footer-area {
  text-align: center;
}

.footer-header {
  font-size: 25px;
}

.footer-area p {
  color: cornsilk;
}
